
<h3><%= @question.title %></h3>
<div>
<div class="up-down-buttons">
<form method="post" action='/questions/<%= @question.id %>/vote' class="inline">
  <button id="upvote-button" type="submit" name="submit_upvote" value="submit_up_value" class="glyphicon glyphicon-arrow-up" aria-hidden="true"><%= @question.up_vote_sum %></button>

  <button id="downvote-button" type="submit" name="submit_downvote" value="submit_down_value" class="glyphicon glyphicon-arrow-down" aria-hidden="true"><%= @question.down_vote_sum %></button>
</form>

</div>
<h5><%= @question.text %></h5>
<% @question.responses.each do |response| %>
  <p><%= response %></p>
<% end %>
</div>

<div>
<% @answers.each do |answer|  %>
  <h5><%= answer %></h5>
  <% answer.responses.each do |response| %>
    <p><%= response %></p>
  <% end %>
<% end %>
</div>
